/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

@font-face {
    font-family: roboto-reg;
    src: url(/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-med;
    src: url(/fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(/fonts/Roboto-bold.ttf);
}

@font-face {
    font-family: roboto-thin;
    src: url(/fonts/Roboto-Thin.ttf);
}

.container {
    display: grid;
    grid-template-rows: minmax(100px, .5fr) minmax(600px, 3fr) minmax(100px, .2fr);
    gap: 10px;
    height: 100vh;
    background-color: #f1faee;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #457b9d;
    box-shadow: 0px 5px 5px #9da0a1;
    font-family: roboto-bold, Arial, Helvetica, sans-serif	
    ;
    color: #f1faee;
    font-size: 20px;
}

.btn-add {
    border-radius: 15px;
    padding: 20px;
    background-color: #f1faee;
    border: none;
    outline: none;
    cursor: pointer;
}

.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(275px, 1fr));
    justify-items: center;
    align-items: center;
    padding: 20px;
    background-color: #f1faee;
    
}

.card {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 225px;
    height: 275px;
    padding: 10px;
    text-align: center;
    white-space: pre-line;
    background-color: #a8dadc;
    border-radius: 15px;
    box-shadow: -8px 10px 0px -2px #052e16;
    font-family: roboto-reg, Arial, Helvetica, sans-serif;
}

.footer {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #457b9d;
    box-shadow: 0px -5px 5px #9da0a1;
    font-family: roboto-med, Arial, Helvetica, sans-serif;
    color: #f1faee;
}

dialog {
    margin: 0;
    transform: translateX(-50%) translateY(100%);
    left: 50%;
    width: 500px;
    height: 250px;
    background-color: #457b9d;
}

::backdrop {
    background-color: rgb(0, 0, 0);
    opacity: 0.75;
  }

.book_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}   

.input-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    font-family: roboto-reg,Arial, Helvetica, sans-serif;
}

.btn-container {
    display: flex;
    gap: 20px;
}

input {
    background-color: #f1f1f1;
    border: none;
    border-radius: 10px;
    padding: 5px;
}

input:focus {
    outline: none;
}

span {
    color: white;
    font-size: 1.1rem
}

select {
    width: 190px;
    height: 35px;
    border-radius: 10px;
}

select:focus {
    outline: none;
}

.btn-container > * {
    padding: 10px;
    border-radius: 10px;
    width: 100px;
    border: none;
    background-color: #1d3557;
    color: white;
    font-family: roboto-reg, Arial, Helvetica, sans-serif;
}

.btn-close:hover,
.btn-submit:hover,
.delete-book:hover,
.read-book:hover {
    cursor: pointer;
}

.delete-book,
.read-book {
    padding: 10px;
    height: 40px;
    width: 75px;
    font-size: 12px;
    border-radius: 10px;
    border: none;
    background-color: #f1faee;
}

.book-btn-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 150px;
    width: 125px;
}